transformed_documents/
documents/
outputs/
models/
test-lora_model/
unsloth_compiled_cache/
_unsloth_sentencepiece_temp/
wandb/
__pycache__/
wandb_key.txt
intermediate_results/
VectorBase.pkl
images/
secrets.toml
documents/
intermediate_results/
old_RAGs/
data/
results/
*.jsonl
answers_clean/
feedbacks/
auth/
useless.ipynb
nothing.ipynb
stored_prompt/
answers_url_standardization_22.5
src/CIT/scraping/JIRA/examples/
jira_documents/
jira_documents_llama70b/
examples/

# CIT Configurations
src/CIT/settings.toml
src/CIT/secrets.toml
src/CIT/UI/auth/credentials.json
src/CIT/scraping/settings.toml
src/CIT/scraping/secrets.toml
src/CIT/scraping/JIRA/settings.toml
src/CIT/scraping/JIRA/secrets.toml
src/Wallis/original_documents/
*.egg-info/
.python-version
